<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="NowListeningParserTool.Properties.ApplicationSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="NowListeningParserTool.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <NowListeningParserTool.Properties.ApplicationSettings>
            <setting name="Username" serializeAs="String">
                <value />
            </setting>
            <setting name="SelectedAccentColor" serializeAs="String">
                <value>#FFA20025</value>
            </setting>
            <setting name="SelectedThemeSource" serializeAs="String">
                <value>/FirstFloor.ModernUI;component/Assets/ModernUI.Dark.xaml</value>
            </setting>
            <setting name="SelectedThemeDisplayName" serializeAs="String">
                <value>dark</value>
            </setting>
        </NowListeningParserTool.Properties.ApplicationSettings>
        <NowListeningParserTool.Properties.Settings>
            <setting name="Username" serializeAs="String">
                <value />
            </setting>
            <setting name="SelectedThemeSource" serializeAs="String">
                <value />
            </setting>
            <setting name="SelectedThemeDisplayName" serializeAs="String">
                <value />
            </setting>
        </NowListeningParserTool.Properties.Settings>
    </userSettings>
</configuration>